.contact-us {
  /* background-color: #000;
    color: #fff;
    margin: 0 auto; */
  padding: 5px;
}

.contact-us h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* .contact-details {
  margin-bottom: 20px;
} */

.contact-details p {
  margin: 5px 0;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-item span {
  margin-right: 10px;
}

.service-banner {
  background-color: #87ceeb;
  color: #000;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  width: -webkit-fill-available;
  border: none;
  border-radius: 5px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-bottom: 5px;
}

.form-container input,
.form-container textarea {
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding: 4px;
  color: white;
  border-radius: 5px;
  border: 1px solid #272727;
  background: #272727 !important;
}

.form-container .button-group {
  display: flex;
  justify-content: space-between;
}

.button-group .cancel-button,
.submit-button1 {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-group .cancel-button {
  background-color: #888;
  color: #000;
}
.submit-button1 {
  background-color: #ffd700;
  color: #000;
}
.input-field1 {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  color: white;
  border-radius: 5px;
  border: 1px solid #272727;
  background: #272727 !important;
  width: 72%;
}
