.head {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* .displayContent {
  position: absolute;
  bottom: 10px;
} */
.inputcss {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 0.5rem;
  font-size: 15px;
  font-weight: 500;
}
.editBook {
  border-radius: 5px;
  border: 1px solid #fff;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  /* width: 11rem; */
  padding: 0.3rem;
}
.proceedPay {
  border-radius: 5px;
  background: #fbc810;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  /* width: 11rem; */
  padding: 0.3rem;
  border: none;
}
.btncss {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.imgsty {
  width: 100%;
  height: 59%;
  margin-top: 0px;
}
.imgsty1 {
  width: 10rem;
  height: 10rem;
}
.confirmationSuccess {
  display: grid;
  justify-items: center;
}
.FinishBtn {
  display: flex;
  justify-content: center;
}
