.form-wrapper {
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
}

.input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: start;
  align-items: baseline;
}

/* .input-group.full-width {
  grid-template-columns: 1fr;
} */

.head {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.input-field {
  width: 100%;
  border-radius: 5px !important;
  border: 1px solid #272727;
  box-sizing: border-box;
  background-color: #272727;
  color: #fff;
  margin-top: 10px;
  padding: 4px;
  position: relative;
}

.radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.radio-group label {
  margin-right: 10px;
}

button.submit-button {
  width: 100%;
  padding: 6px;
  background-color: #ffcc00;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 2rem;
}
.react-time-picker__wrapper {
  border: none !important;
}
/* .react-datepicker__tab-loop {
  z-index: 66666;
  position: absolute;
  left: 20% !important;
} */

@media only screen and (min-width: 300px) {
  .widthTimePicker {
    width: 80% !important;
  }
  .react-datepicker-popper {
    left: 14% !important;
  }
}
@media only screen and (min-width: 360px) {
  .widthTimePicker {
    width: 60% !important;
  }
  .react-datepicker-popper {
    left: 10% !important;
  }
}

.react-time-picker__inputGroup__amPm {
  color: black;
}

.react-time-picker__inputGroup__amPm option {
  color: black;
}
