.form-wrapper {
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
}

.input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: start;
  align-items: baseline;
}

/* .input-group.full-width {
  grid-template-columns: 1fr;
} */

.head {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.input-field {
  width: 100%;
  border-radius: 5px !important;
  border: 1px solid #272727;
  box-sizing: border-box;
  background-color: #272727;
  color: #fff;
  margin-top: 10px;
  padding: 6px;
}

.radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.radio-group label {
  margin-right: 10px;
}

button.submit-button {
  width: 100%;
  padding: 6px;
  background-color: #ffcc00;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
.react-time-picker__wrapper {
  border: none !important;
}
