.sidebar {
  position: absolute;
  top: 0;
  left: 0px;
  width: 260px;
  height: 100vh;
  background-color: #333;
  color: white;
  transition: left 0.5s ease-in-out;
  z-index: 1000;
}

.sidebar.close {
  display: none;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #0000008f;
}

.sidebar-header img {
  width: 89px;
  height: 67px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.menu-item {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 1rem 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
