/* Hide spinners in WebKit browsers (e.g., Chrome, Safari) */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinners in Firefox */
.no-spinner[type="number"] {
  -moz-appearance: textfield;
}

.route-backgound {
  background-image: url("/public/images/icons/bg1.png");
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

@media screen and (max-width: 432px) {
  /* .route-backgound { */
  /* background-image: none; */
  /* background-position: unset;
    background-size: unset;
    background-repeat: unset;
    background-blend-mode: unset; */
  /* height: auto; 
     width: auto; */
  /* } */
}
