/* Hide spinners in WebKit browsers (e.g., Chrome, Safari) */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinners in Firefox */
.no-spinner[type="number"] {
  -moz-appearance: textfield;
}