body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  z-index: -999;
  color: white;
  background-color: #000;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: ; */
  font-style: normal;
}
