body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  z-index: -999;
  color: white;
  background-color: #000;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: ; */
  font-style: normal;
}
.fontsixe15 {
  font-size: 15px;
  font-weight: 600;
}
.fontsize15400 {
  font-size: 15px;
  font-weight: 400;
}
.fontsize20 {
  font-size: 20px;
  font-weight: 700;
}
.fontsixe14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.fontsixe12 {
  font-size: 12px;
  font-weight: 500;
}
a {
  text-decoration: none !important;
}

.inputcss {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 0.5rem;
  font-size: 14px;
  font-weight: 500;
}
.input-field {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 1rem;
  color: white;
  border-radius: 5px;
  border: 1px solid #272727;
  background: #272727 !important;
}
.proceedPay {
  border-radius: 5px;
  background: #fbc810;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  /* width: 11rem; */
  padding: 0.3rem;
  border: none;
}
.editBook {
  border-radius: 5px;
  border: 1px solid #fff;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  /* width: 11rem; */
  padding: 0.3rem;
}
.btncss {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
